<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL shortner</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <h1>URL shortner challenge</h1>

        <form action="/ShortUrl" method="post" class="my-4 form-inline">
            <label for="fullUrl" class="sr-only ">URL</label>

            <input required type="url"   name="fullUrl"  id="fullUrls" placeholder="URL" class="form-control col mr-2">
            <button type="submit" class="btn btn-success"> Add the url </button>

        </form>


        <table class="table-bordered col tabme-responsive ">
            <thead> 
                <th>Full URL</th>
                <th>Short URL</th>
                <th>clicks </th>
            </thead>
            <tbody>

                <% shortURL.forEach(database => { %>



                <tr>
                    <td>
                        <a href="<%= database.LongURL  %> "> <%= database.LongURL  %> </a>

                    </td>

                    <td>
                        <a href="<%= database.ShortUrl  %> "> <%= database.ShortUrl %> </a>
                    </td>
                    <td>
                        <%= database.clicks  %>
                    </td>
                </tr>




                <%  })   %>


            </tbody>

        </table>
    </div>


</body>

</html>